<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDunnSHNTePEX8Pg_V2xdddCYGGqKBwpXU</string>
	<key>GCM_SENDER_ID</key>
	<string>458852895217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unisched</string>
	<key>PROJECT_ID</key>
	<string>unisched-37e30</string>
	<key>STORAGE_BUCKET</key>
	<string>unisched-37e30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458852895217:ios:a728d52c34656f6e5b1c50</string>
</dict>
</plist>